body { }

.nt-customer { width: 100%; border: 1px solid #ddd; background: #fff; margin: 20px auto; padding: 10px; font-size: 12px; color: #555; }

.nt-customer-element { border: 1px solid #eeeeee; background: #fff; margin: 5px auto; }

.nt-customer-content { overflow: hidden; border: none; width: 940px; }

.nt-customer-left { float: left; width: 150px; margin: 3px; }

    .nt-customer-left h4 { background: #F6F6F4; margin: 0; padding: 0; text-align: left; height: 30px; line-height: 30px; padding-left: 8px; color: #000; font-size: 18px; }

ul.nt-customer-menu { list-style-type: none; }

    ul.nt-customer-menu li { padding: 0; margin: 5px; list-style-image: url(../img/bullet-right.gif); }

        ul.nt-customer-menu li a { color: #555; }

.nt-customer-right { float: right; width: 770px; margin: 3px; min-height: 500px; border: none; }

    .nt-customer-right > h3 { width: 900px; margin: 10px auto; font-size: 24px; font-weight: 500; font-family: '微软雅黑'; color: #333; }

    .nt-customer-right h5 { font-weight: 500; font-size: 16px; font-family: '微软雅黑'; color: #333; margin: 10px 5px; }

    .nt-customer-right .padding { padding: 6px 8px; }

.nt-customer-top { height: 50px; width: 940px; display: none; }

.nt-customer-bottom { height: 60px; width: 940px; display: none; }

/*order info*/

.nt-order-submit { border: 1px solid #ddd; margin: 8px 0; background-color: #fff; }

    .nt-order-submit h3 { padding: 0; margin: 14px auto; font-size: 24px; width: 98%; font-weight: 500; font-family: '微软雅黑'; color: #333; }

.nt-order-submit-item { margin: 8px auto; width: 98%; border: 1px solid #ddd; border-top: 2px solid #ccc; background-color: #fefefe; }

    .nt-order-submit-item h3 { font-size: 20px; margin: 8px 0 5px 0px; background: #dedede; padding: 5px; }

    .nt-order-submit-item h4 { margin: 4px 7px 2px 0px; padding: 0; }

    .nt-order-submit-item ul { display: block; margin: 0; padding: 4px; }

        .nt-order-submit-item ul li { display: block; list-style: none; }

            .nt-order-submit-item ul li label { font-weight: normal; font-size: 14px; color: #555; padding: 0 5px 0 8px; }

    .nt-order-submit-item > div { margin: 8px auto; width: 96%; }

.nt-order-history-consignee { border: 1px solid #eee; width: 96%; margin: 0 auto; }

.nt-order-new-consignee ul li label b { color: #f00; padding: 0 4px; }

.nt-order-payment-shipping { }

.nt-order-payment, .nt-order-shipping { border: 1px solid #ccc; width: 96%; margin: 5px auto; }

p.nt-order-desc { font-size: 12px; margin: 2px 0 10px 10px; padding: 3px 8px; width: 400px; min-height: 50px; border: 1px solid #dedede; background-color: #f8f6ee; color: #555; }

.nt-order-goods table { width: 96%; margin: 10px auto; }

    .nt-order-goods table tr { border-bottom: 1px solid #aaa; }

        .nt-order-goods table tr th { font-size: 13px; color: #444; background-color: #F7F7F7; text-align: center; border-bottom: 2px solid #aaa; }

        .nt-order-goods table tr td { font-size: 13px; color: #555; text-align: center; padding: 6px 0; }

.nt-order-sumary { font-size: 14px; }

    .nt-order-sumary span { display: block; width: 96%; margin: 8px auto; color: #555; }

    .nt-order-sumary hr { border-top: 1px dashed #aaa; width: 96%; margin: 3px auto; }

/*nt-customer-info*/

.nt-customer-info { }

.nt-customer-info-field { width: 300px; margin: 10px 0; position: relative; }

    .nt-customer-info-field label { float: left; color: #555; font-weight: normal; }

    .nt-customer-info-field span { float: right; position: absolute; display: inline-block; width: 300px; padding: 3px 8px; left: 110%; color: #f00; border: 1px solid #ddd; background: #f7f2cd; display: none; }

    .nt-customer-info-field input, .nt-customer-info-field select { float: right; height: 25px; color: #999; border: 1px solid #dfdfdf; padding: 3px 4px; }

    .nt-customer-info-field input { width: 200px; }

    .nt-customer-info-field select { width: 120px; }

.nt-customer-info-sex { width: 220px; }


.nt-customer-info-field input:focus { border-color: #d3edf3; color: #555; }

.nt-customer-save-button input[class="nt-submit"] { text-align: center; margin: 30px 0 0 0; height: 30px; min-width: 80px; font-size: 13px; color: #555; }

p.nt-customer-login-info { color: #555; line-height: 18px; }

/*shopping cart*/
.nt-cart-item-xml ol { display: block; border: 1px solid #ccc; padding: 0; margin: 0; list-style: none; }

    .nt-cart-item-xml ol li { display: block; border-bottom: 1px dashed #ddd; text-align: left; }

        .nt-cart-item-xml ol li label { text-align: left; padding: 5px; }

input.buy-now { height: 40px; width: 50px; line-height: 40px; font-size: 14px; }

.no-record-found { margin: 0 auto; text-align: center; }
