body { font: 12px/1.5 '\\5FAE\\8F6F\\96C5\\9ED1','微软雅黑', Arial,Helvetica,sans-serif; -ms-overflow-style: -ms-autohiding-scrollbar; margin: 5px; padding: 0; background-color: #F2F2F2; }
.window { display: block; width: 300px; height: auto; margin: 10px auto; border: 1px solid #3b3b3b; box-shadow: #808080 0px 0px 5px; }
.window-title { height: 50px; width: 100%; background-color: #FF3506; line-height: 50px; }
    .window-title span { color: #fff; font-size: 14px; font-weight: bold; padding-left: 5px; }
.window-body { padding-bottom: 20px; }
    .window-body p { padding-left: 5px; }
.window-foot { width: 100%; background-color: #fff; text-align: right; height: 35px; }
a { color: #333; text-decoration: none; padding: 0 10px; }
    a:hover { text-decoration: underline; }
